.develop {
    padding: 55px;
    padding-bottom: 55px;
    img {
        max-width: 1000px;
        width: 100%;
    }
}

.team {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px 60px;
    .inner {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 45px 0;
        border-bottom: 1px solid rgba(34, 34, 34, 0.3);
        .pic {
            width: 35%;
            padding-right: 55px;
            transform: translateY(25px);
            &-inner {
                width: 100%;
                padding-bottom: 125%;
                position: relative;
                background-color: #E1EBED;
                img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    object-fit: cover;
                    top: 0;
                    left: 0;
                    transform: translate(25px,-25px);
                }
            }
        }
        .text {
            width: 65%;
            padding-left: 20px;
            .member-name {
                padding: 12px 32px;
                border-left: 7px solid $main-blue;
                background: #F7F7F7;
                h4 {
                    margin: 0;
                    span {
                        &.chinese {
                            font-size: 24px;
                            line-height: 35px;
                            color: $main-content;
                            margin-right: 11px;
                        }
                        &.english {
                            font-size: 20px;
                            font-family: Montserrat;
                            font-weight: 500;
                            color: $main-blue;
                        }
                    }
                }
                p {
                    color: rgba(0, 0, 0, 0.6);
                    font-size: 18px;
                    margin: 0;
                }
            }
            .text_content {
                margin-top: 20px;
                &_title {
                    background: #EBEBEB;
                    padding: 4px 13px;
                    margin-bottom: 13px;
                    width: fit-content;
                }
                ul {
                    
                    li {
                        color: $main-content;
                        line-height: 1.8;
                        color: $main-content;
                    }
                }
                &.history {
                    ul {padding-left: 20px;
                        list-style-type: disc;
                        li {
                            position: relative;
                            span {
                                &:last-child {
                                    position: absolute;
                                    right: 0;
                                    top: 0;
                                }
                            }
                            // display: flex;
                            // align-items: center;
                            // justify-content: space-between;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:767px) {
    .develop {
        padding: 27px 20px;
    }
    .team {
        .inner {
            padding: 22px 0;
            .pic {
                max-width: 250px;
                width: 100%;
                margin: 0 auto 20px;
                transform: translateX(18px);
                img {
                    transform: translate(12px, -12px);
                }
            }
            .text {
                width: 100%;
                padding: 20px 0 0;
            }
        } 
    } 
}

@media screen and (max-width:575px) {
    .team {
        .inner {
            .text {
                .text {
                    &_content {
                        &.history {
                            ul {
                                li {
                                    span {
                                        display: block;
                                        &:last-child {
                                            position: static;
                                        }
                                    } 
                                } 
                            } 
                        } 
                    } 
                }
            } 
        } 
    } 
}