body {
    font-family: 'Noto Sans TC', sans-serif;
    color: #000;
}

a {
    color: #000;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: #000;
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

input,textarea,select,button {
    outline: none;
}

input[type=number]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.second-title {
    font-size: 30px;
}

.mt-30 { margin-top: 30px; }
.mt-55 { margin-top: 55px; }
.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.mb-30 { margin-bottom: 30px; }
.mb-40 { margin-bottom: 40px; }
.mb-45 { margin-bottom: 45px; }
.mb-70 { margin-bottom: 70px; }
.mb-100 { margin-bottom: 100px; }

.px-20 { padding-left: 20px;padding-right: 20px; }

.py-60 { padding-top: 60px;padding-bottom: 60px; }
.py-100 { padding-top: 100px;padding-bottom: 100px; }

.bg-gray { background-color: $main-bg; }

.text-gray { color: rgba(0,0,0,0.8); }

.opacity-8 { opacity: 0.8; }

header {
    height: 85px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.92);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    >div {
        height: 100%;
        .left {
            height: 100%;
            a {
                height: 100%;
                img {
                    height: 70%;
                }
            }
        }
        .right {
            height: 100%;
            nav {
                height: 100%;
                // padding-right: 40px;
                a {
                    color: #222;
                    font-size: 15px;
                }
                .stage {
                    &_first {
                        margin: 0 19px;
                        position: relative;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        ul {
                            position: absolute;
                            background: #FAFAFA;
                            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
                            width: 150px;
                            left: 0;
                            top: 60px;
                            display: none;
                        }
                        &.drop {
                            padding-right: 20px;
                            &::after {
                                position: absolute;
                                content: "";
                                width: 10px;
                                height: 10px;
                                background-image: url(/public/img/arrow-nav.svg);
                                background-size: contain;
                                background-position: center center;
                                background-repeat: no-repeat;
                                top: 50%;
                                right: 0;
                                transform: translateY(-50%);
                            }
                        }
                        &.active {
                            >a {
                                color: $main-blue;
                            }
                        }
                        &:hover {
                            ul {
                                display: block;
                            }
                        }
                    }
                    &_second {
                        border-bottom: 1px solid rgba(0,0,0,0.1);
                        a {
                            display: block;
                            width: 100%;
                            height: 100%;
                            padding: 10px 15px;
                        }
                        &:last-child {
                            border: 0;
                        }
                    }
                }
            }
            .icon-menu {
                width: 20px;
                height: 14px;
                position: relative;
                .bar {
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    border-radius: 100px;
                    background-color: $main-blue;
                    left: 0;
                    &.top {
                        top: 0;
                    }
                    &.middle {
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    &.bottom {
                        bottom: 0;
                    }
                }
            }
            .lang {
                padding-left: 40px;
                position: relative;
                img {
                    width: 20px;
                    // margin-right: 5px;
                }
                a {
                    font-size: 15px;
                    margin: 0 5px;
                    color: #555;
                    &.active, &:hover {
                        color: $main-yellow;
                        font-weight: bold;
                    }
                }
                &::before {
                    width: 1px;
                    height: 14px;
                    background-color: rgba(0,0,0,0.2);
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

main {
    width: 100%;
    min-height: calc(100vh - 170.5px);
    padding-top: 85px;
}

footer {
    padding: 25px 0;
    background-image: url(/public/img/footer_bg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    .left {
        .logo {
            width: 80px;
            margin-right: 45px;
        }
        ul {
            li {
                font-size: 15px;
                color: #fff;
                display: flex;
                align-items: center;
                img {
                    width: 18px;
                    margin-right: 10px;
                }
                &.company {
                    font-size: 17px;
                    font-weight: bold;
                    margin-bottom: 5px;
                }
                &:nth-child(2) {
                    img {
                        width: 15px;
                        margin-left: 2px;
                    }
                }
            }
        }
    }
    .right {
        p {
            color: #fff;
            opacity: 0.8;
            margin: 0;
            font-size: 13px;
            font-weight: 300;
        }
    }
}

.gototop {
    position: fixed;
    right: 30px;
    bottom: 90px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(34, 34, 34, 0.4);
    padding-top: 5px;
    cursor: pointer;
    display: none;
    opacity: 0;
    bottom: 70px;
    transition: 0.3s;
    z-index: 500;
    img {
        width: 16px;
        // margin-bottom: 5px;
        display: block;
        margin: 0 auto;
    }
    p {
        margin: 0;
        color: #fff;
        font-size: 10px;
        letter-spacing: 0.03em;
        font-family: Montserrat;
        width: 100%;
        text-align: center;
    }
    &.active {
        display: block;
        opacity: 1;
        bottom: 90px;
    }
}

.page-title {
    width: 100%;
    padding-bottom: 15.625%;
    position: relative;
    margin-bottom: 100px;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .title-mask {
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.4) 100%);
    }
    .text {
        position: absolute;
        padding: 20px 35px;
        background: rgba(255, 255, 255, 0.8);
        text-align: center;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,50%);
        width: fit-content;
        h1 {
            font-weight: normal;
            font-size: 30px;
            margin: 0 0 5px;
            letter-spacing: 0.1em;
        }
        h2 {
            font-family: 'Montserrat', sans-serif;
            font-weight: normal;
            font-size: 11px;
            color: $main-yellow;
            letter-spacing: 0.5em;
            margin: 0;
        }
    }
}

.list {
    &-pic {
        &-1 {
            .inner {
                padding: 40px 0;
                img {
                    width: 55%;
                }
                .text {
                    width: 45%;
                    padding-left: 40px;
                    h3 {
                        // font-size: 30px;
                        margin: 0 0 20px;
                    }
                    p,ol {
                        color: rgba(0,0,0,0.8);
                        margin: 0;
                    }
                    ol {
                        padding-left: 20px;
                    }
                }
                &:nth-child(even) {
                    background-color: #f7f7f7;
                    img {
                        order: 2;
                    }
                    .text {
                        order: 1;
                        padding-left: 0;
                        padding-right: 40px;
                    }
                }
            }
        }
        &-2 {
            .row {
                margin-right: -15px;
                margin-left: -15px;
                >div {
                    padding-right: 15px;
                    padding-left: 15px;
                    margin-bottom: 60px;
                }
            }
            .pic {
                width: 100%;
                padding-bottom: 85%;
                position: relative;
                margin-bottom: 25px;
                img {
                    position: absolute;
                    // width: 90%;
                    // top: 50%;
                    // left: 50%;
                    // transform: translate(-50%,-50%);
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    top: 0;
                    left: 0;
                }
            }
            h4 {
                font-size: 24px;
                margin: 0 0 6px;
            }
            p {
                line-height: 1.8;
                color: rgba(0,0,0,0.8);
                margin: 0;
                // height: 90px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
                height: 88px;
            }
            .readmore {
                padding: 10px 45px;
                display: block;
                margin: 20px auto 0;
                background-color: $main-yellow;
                color: #fff;
                width: fit-content;
            }
        }
    }
    &-text {
        padding-bottom: 100px;
        .inner {
            padding-top: 30px;
            padding-bottom: 19px;
            border-bottom: 1px solid rgba(34, 34, 34, 0.3);
            .list-text {
                &_title {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    cursor: pointer;
                    .tag-box {
                        width: 100px;
                        .tag {
                            background-color: $main-yellow;
                            border-radius: 100px;
                            color: #fff;
                            padding: 5px 20px;
                            width: fit-content;
                        }
                    }
                    h3 {
                        margin: 0;
                        width: calc(100% - 100px - 18px);
                        font-size: 24px;
                        padding: 0 20px;
                    }
                    .btn-collapse {
                        width: 18px;
                        height: 18px;
                        position: relative;
                        cursor: pointer;
                        .bar {
                            width: 100%;
                            height: 2px;
                            background-color: #000;
                            border-radius: 100px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            transition: 0.3s ease;
                        }
                    }
                    
                    &.active {
                        .btn-collapse {
                            .bar {
                                &.vertical {
                                    transform: translate(-50%,-50%)rotate(90deg);
                                }
                            }
                        }
                    }
                    &.news {
                        .news-content {
                            width: calc(100% - 100px);
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            h3 {
                                width: calc(100% - 100px);
                            }
                            .date {
                                width: 100px;
                                font-family: Montserrat;
                                color: rgba(34, 34, 34, 0.8);
                            }
                        }
                    }
                }
                &_content {
                    display: none;
                    p, ul {
                        padding-left: 120px;
                        padding-right: 38px;
                        padding-top: 18px;
                        margin: 0;
                        line-height: 30px;
                        color: $main-content;
                        opacity: 0.8;
                    }
                    
                }
            }
        }
        &.detect {
            .inner {
                .list-text {
                    &_title {
                        h3 {
                            width: 100%;
                            padding: 0;
                            // margin-bottom: 15px;
                        }
                    }
                    &_content {
                        display: block;
                        ul {
                            list-style: disc;
                            padding-left: 20px;
                        }
                    }
                }
            }
        }
    }
}

.tab {
    a {
        padding: 13px 34px;
        border: 1px solid rgba(34, 34, 34, 0.4);
        border-radius: 100px;
        color: #222;
        margin: 0 5px;
        &.active {
            border-color: $main-blue;
            background-color: $main-blue;
            color: #fff;
        }
    }
}

.pagination {
    li {
        a {
            font-family: Montserrat;
            display: block;
            padding: 5px 13px;
            margin: 0 3px;
        }
        &.active {
            a {
                background-color: $main-blue;
                color: #fff;
                border-radius: 2px;
            }
        }
        &.arrow {
            img {
                width: 8px;
            }
            &.prev {
                transform: scaleX(-1);
            }
        }
    }
}

.contact {
    padding: 70px 20px 80px;
    &_content {
        max-width: 950px;
        width: 100%;
        margin: 0 auto;
        form {
            margin-top: 40px;
            width: 100%;
            .input-box {
                width: 100%;
                margin-bottom: 18px;
                label {
                    display: block;
                    color: rgba(34, 34, 34, 0.8);
                    margin-bottom: 8px;
                }
                input,textarea {
                    width: 100%;
                    border: 1px solid rgba(34, 34, 34, 0.4);
                    border-radius: 4px;
                    padding: 10px;
                }
                input {
                    height: 44px;
                }
            }
            .submit {
                display: block;
                margin: 36px auto 0;
                background-color: $main-yellow;
                color: #fff;
                padding: 10px 50px;
                border: 0;
            }
        }
    }

    &.gray-bg {
        background: #F7F7F7;
        .contact_content {
            form {
                .input-box {
                    input,textarea {
                        background: #fff;
                    }
                }
            }
        }
    }
    &.white-bg {
        .contact_content {
            form {
                .input-box {
                    input,textarea {
                        background: #FBFBFB;
                    }
                }
            }
        }
    }
}

.search {
    width: 400px;
    height: 52px;
    background: #FBFBFB;
    border: 1px solid rgba(34, 34, 34, 0.4);
    border-radius: 4px;
    display: flex;
    align-items: center;
    .icon {
        width: 50px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 12px;
        }
    }
    input {
        background-color: transparent;
        border: 0;
        border-radius: 0;
        width: calc(100% - 50px);
        height: 100%;
        &::placeholder {
            color: rgba(0, 0, 0, 0.6);
        }
    }
}

.tab-box {
    display: flex;
    align-items: center;
    button {
        background: #FBFBFB;
        border: 1px solid rgba(34, 34, 34, 0.4);
        border-radius: 100px;
        padding: 13px 33px;
        margin: 0 5px;
        color: #222;
        &.active {
            background-color: $main-blue;
            color: #fff;
        }
    }
    &.tab-link {
        button {
            padding: 0;
            overflow: hidden;
            a {
                display: block;
                padding: 13px 33px;
            }
            &.active {
                a {
                    color: #fff;
                }
            }
        }
    }
}

.page-inner {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    padding-bottom: 100px;
    padding: 0 20px;
    &_title {
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(34, 34, 34, 0.3);
        h1 {
            font-size: 30px;
            margin-bottom: 16px;
            margin-top: 0;
        }
        .time {
            display: flex;
            align-items: center;
            img {
                width: 18px;
                margin-right: 10px;
            }
            span {
                font-family: Montserrat;
                color: rgba(34, 34, 34, 0.8);
            }
        }
    }
    &_content {
        padding: 30px 0;
        p {
            color: $main-content;
            opacity: 0.8;
            line-height: 30px;
            margin: 0;
        }
        img {
            display: block;
            margin: 20px auto;
            max-width: 750px;
            width: 100%;
        }
    }
}

@media screen and (max-width:991px) {
    header {
        height: 74px;
        > div {
            .right {
                nav {
                    position: fixed;
                    max-width: 400px;
                    width: 100%;
                    height: calc(100vh - 74px);
                    background-color: #fff;
                    top: 74px;
                    right: 0;
                    right: -100%;
                    overflow-y: auto;
                    border-top: 1px solid rgba(0, 0, 0, 0.15);
                    transition: 0.5s ease;
                    ul {
                        display: block;
                        overflow-y: auto;
                        height: auto !important;
                    }
                    a {
                        display: block;
                        width: 100%;
                        padding: 14px 54px;
                    }
                    .stage {
                        &_first {
                            width: 100%;
                            height: auto;
                            border-bottom: 1px solid rgba(34, 34, 34, 0.3);
                            // padding: 0 54px;
                            margin: 0;
                            display: block;
                            &.drop {
                                padding-right: 0;
                                padding-bottom: 0;
                                &::after {
                                    display: none;
                                }

                            }
                            ul {
                                display: block;
                                position: static;
                                padding-left: 60px;
                                width: 100%;
                                box-shadow: none;

                            }
                        }
                        &_second {
                            border-bottom: 1px solid rgba(34, 34, 34, 0.3);;
                        }
                    }
                    &.active {
                        right: 0;
                    }
                }
            } 
        } 
    } 
    .page-title {
        padding-bottom: 31.4%;
        margin-bottom: 50px;
        .text {
            h1 {
                font-size: 28px;
            }
        }
    }
    main {
        padding-top: 74px;
        min-height: calc(100vh - 74px - 333px);
    }
    footer {
        .left {
            width: 100%;
            .logo {
                display: block;
                margin: 0 auto 16px;
            }
            ul {
                width: 100%;
                width: fit-content;
                margin: 0 auto;
                li {
                    &.company {
                        text-align: center;
                        justify-content: center;
                    }
                }
            }
        }
        .right {
            width: 100%;
            text-align: center;
            margin-top: 20px;
        }
    }
    .list {
        &-pic {
            &-1 {
                .inner {
                    img {
                        width: 100%;
                    }
                    .text {
                        width: 100%;
                        padding: 20px 0 0;
                    }
                    &:nth-child(even) {
                        img {
                            order: 1;
                        }
                        .text {
                            order: 2;
                            padding: 20px 0 0;
                        }
                    }
                }
            }
            &-2 {
                .row {
                    margin-left: -7px;
                    margin-right: -7px;
                    >div {
                        margin-bottom: 30px;
                        padding-left: 7px;
                        padding-right: 7px;
                    }
                }
                h4 {
                    font-size: 20px;
                }
                .readmore {
                    padding: 10px 25px;
                }
            }
        }
    }
}

@media screen and (max-width:767px) {
    .mb-40 { margin-bottom: 20px; }
    .mb-45 { margin-bottom: 22px; }
    .mb-70 { margin-bottom: 35px; }
    .mb-100 { margin-bottom: 50px; }
    .page-title {
        margin-bottom: 70px;
    }
    .list-text {
        padding-bottom: 50px;
        .inner {
            .list-text {
                &_title {
                    .tag-box {
                        width: 100%;
                        margin-bottom: 20px;
                    }
                    h3 {
                        width: calc(100% - 18px);
                        padding-left: 0;
                        font-size: 20px;
                    }
                    &.news {
                        .tag-box {
                            width: 100px;
                            margin-bottom: 0;
                        }
                        .news-content {
                            h3 {
                                width: 100%;
                                padding-right: 0;
                            }
                            .date {
                                width: 100%;
                                margin-top: 4px;
                                // padding-left: 20px;
                            }
                        }
                    } 
                }
                &_content {
                    p {
                        padding-left: 0;
                        padding-right: 0;
                    }
                    
                }
            }
        } 
    } 
    .contact {
        padding: 35px 20px 40px;
        &_content {
            form {
                .submit {
                    margin-top: 18px;
                }
            }
        }
    }
    footer {
        .left {
            .logo {
                width: 60px;
            }
        }
    }
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .second-title {
        font-size: 24px;
    }
}

@media screen and (max-width:575px) {
    .tab-box {
        &.tab-link {
            button {
                a {
                    padding: 13px 7px;
                    font-size: 14px;
                }
            } 
        } 
    } 
}

@media screen and (max-width:450px) {
    .search {
        width: 100%;
    }
    .tab-box {
        button {
            padding: 13px 15px;
        }
    } 
}