.home-banner {
    width: 100%;
    // height: calc(100vh - 235.75px - 74px - 50px);
    padding-bottom: 59%;
    position: relative;
    .swiper-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        .swiper-slide {
            width: 100%;
            height: 100%;
            position: relative;
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .swiper-pagination-bullet {
        background-color: transparent;
        border: 2px solid #fff;
        width: 12px;
        height: 12px;
        margin: 0 6px;
        opacity: 1;
        &-active {
            background-color: #fff;
        }
    }
}