.laboratory-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
    .text {
        width: 40%;
        padding-right: 40px;
        h4 {
            font-size: 30px;
            margin-bottom: 32px;
        }
        p {
            color: $main-content;
            opacity: 0.8;
            line-height: 1.8;
            margin: 0;
        }
        .btn-box {
            display: flex;
            align-items: center;
            margin-top: 40px;
            button {
                margin-right: 27px;
                border: 0;
                a {
                    display: block;
                    padding: 11px 25px;
                    color: #fff;
                }
                &.btn-detect {
                    background-color: $main-yellow;
                }
                &.btn-download {
                    background-color: #22A7D2;
                }
            }
        }
    }
    .pic {
        width: 60%;
        padding-bottom: calc(60% * 0.75);
        position: relative;
        img {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: contain;
        }
    }
}

.download {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 70px;
    // margin-left: -8px;
    // margin-right: -8px;
    .download_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid $main-blue;
        border-radius: 4px;
        padding: 13px 22px;
        margin-bottom: 17px;
        cursor: pointer;
        img {
            width: 20px;
        }
    }
    >div {
        padding-right: 8px;
        padding-left: 8px;
    }
}

@media screen and (max-width:1200px) {
    .laboratory-content {
        .text {
            width: 50%;
        }
        .pic {
            width: 50%;
            padding-bottom: calc(50% * 0.75);
        }
    } 
}

@media screen and (max-width:991px) {
    .news-second-title {
        text-align: center;
    }
    .laboratory-content {
        .text {
            width: 100%;
            padding: 0;
        }
        .pic {
            width: 100%;
            padding-bottom: calc(100% * 0.75);
            margin-top: 30px;
        }
    } 
}

@media screen and (max-width:767px) {
    .download {
        padding-bottom: 35px;
    }
    .laboratory-content {
        .text {
            h4 {
                font-size: 24px;
            }
        } 
    }
    .laboratory-content {
        .text {
            .btn-box {
                button {
                    margin-right: 15px;
                    a {
                        padding: 11px;
                    }
                } 
            } 
        } 
    } 
}