.product {
    &-content {
        border-bottom: 1px solid rgba(34, 34, 34, 0.2);
        padding-bottom: 40px;
        img {
            width: 90%;
            display: block;
            margin: 0 auto;
        }
        .text {
            h2 {
                font-size: 30px;
                margin: 0 0 4px;
            }
            .classify {
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                span {
                    color: $main-blue;
                    display: block;
                    margin-right: 30px;
                    position: relative;
                    line-height: 30px;
                    &::after {
                        content: "";
                        position: absolute;
                        width: 1px;
                        height: 15px;
                        right: -15px;
                        top: 50%;
                        transform: translateY(-50%);
                        background-color: $main-blue;
                        opacity: 0.4;
                    }
                    &:last-child {
                        margin: 0;
                        &::after {
                            display: none;
                        }
                    }
                }
            }
            p {
                line-height: 30px;
                color: $main-content;
            }
        }
    }
    &-spec {
        padding: 60px 0 80px;
        .item-name {
            width: 130px;
            display: flex;
            align-items: center;
            .icon {
                width: 42px;
                height: 42px;
                border-radius: 50%;
                background: rgba(34, 34, 34, 0.06);
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;
                img {
                    width: 62%;
                }
            }
        }
        .select-box {
            width: calc(100% - 130px - 20px);
            padding: 0 15px;
            select {
                width: 100%;
                background: #FBFBFB;
                border: 1px solid rgba(34, 34, 34, 0.4);
                border-radius: 4px;
                padding: 10px 15px;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                background-image: url(/public/img/arrow-select.svg);
                background-size: 10px;
                background-position: calc(100% - 15px) center;
                background-repeat: no-repeat;
            }
        }
        .question {
            width: 20px;
            cursor: pointer;
        }
        .product-num {
            width: 250px;
            padding: 0 15px;
            .inner {
                display: flex;
                align-items: center;
                height: 42px;
                >div {
                    width: 57px;
                    height: 100%;
                    background: rgba(34, 34, 34, 0.02);
                    border-radius: 3px 0px 0px 3px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    img {
                        width: 20%;
                    }
                }
                input {
                    width: calc(100% - 114px);
                    height: 100%;
                    border: 1px solid;
                    border-color: transparent rgba(34, 34, 34, 0.4) transparent rgba(34, 34, 34, 0.4);
                    background-color: transparent;
                    border-radius: 0;
                    font-family: Montserrat;
                    color: $main-content;
                    text-align: center;
                    appearance: none;
                }
            }
        }
        .spec-content {
            width: calc(100% - 130px);
            padding: 10px 15px;
            background: rgba(34, 34, 34, 0.02);
            border-radius: 4px;
            font-family: Montserrat;
            color: $main-content;
        }
    }
}

.rent-intro {
    p {
        line-height: 30px;
    }
    hr {
        border: 1px solid rgba(34, 34, 34, 0.3);
    }
}

@media screen and (max-width:575px) {
    .product-spec {
        .item-name {
            width: 100%;
            margin-bottom: 10px;
        }
        .select-box {
            width: calc(100% - 20px);
            padding-left: 0;
        }
        .product-num {
            padding-left: 0;
        }
        .spec-content {
            width: 100%;
        }
    } 
}