$main-title:#000;
$main-content:rgba(0,0,0,0.8);
$main-yellow:#F5A21E;
$main-bg:#f7f7f7;
$main-blue:#164289;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

@import "./page/common";
@import "./page/index";
@import "./page/about";
@import "./page/business";
@import "./page/education";
@import "./page/laboratory";
@import "./page/news";
@import "./page/product";