@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
body {
  font-family: 'Noto Sans TC', sans-serif;
  color: #000;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #000;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

input, textarea, select, button {
  outline: none;
}

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.second-title {
  font-size: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-55 {
  margin-top: 55px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-100 {
  margin-bottom: 100px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.bg-gray {
  background-color: #f7f7f7;
}

.text-gray {
  color: rgba(0, 0, 0, 0.8);
}

.opacity-8 {
  opacity: 0.8;
}

header {
  height: 85px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.92);
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

header > div {
  height: 100%;
}

header > div .left {
  height: 100%;
}

header > div .left a {
  height: 100%;
}

header > div .left a img {
  height: 70%;
}

header > div .right {
  height: 100%;
}

header > div .right nav {
  height: 100%;
}

header > div .right nav a {
  color: #222;
  font-size: 15px;
}

header > div .right nav .stage_first {
  margin: 0 19px;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > div .right nav .stage_first ul {
  position: absolute;
  background: #FAFAFA;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
  width: 150px;
  left: 0;
  top: 60px;
  display: none;
}

header > div .right nav .stage_first.drop {
  padding-right: 20px;
}

header > div .right nav .stage_first.drop::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-image: url(/public/img/arrow-nav.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header > div .right nav .stage_first.active > a {
  color: #164289;
}

header > div .right nav .stage_first:hover ul {
  display: block;
}

header > div .right nav .stage_second {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header > div .right nav .stage_second a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
}

header > div .right nav .stage_second:last-child {
  border: 0;
}

header > div .right .icon-menu {
  width: 20px;
  height: 14px;
  position: relative;
}

header > div .right .icon-menu .bar {
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 100px;
  background-color: #164289;
  left: 0;
}

header > div .right .icon-menu .bar.top {
  top: 0;
}

header > div .right .icon-menu .bar.middle {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header > div .right .icon-menu .bar.bottom {
  bottom: 0;
}

header > div .right .lang {
  padding-left: 40px;
  position: relative;
}

header > div .right .lang img {
  width: 20px;
}

header > div .right .lang a {
  font-size: 15px;
  margin: 0 5px;
  color: #555;
}

header > div .right .lang a.active, header > div .right .lang a:hover {
  color: #F5A21E;
  font-weight: bold;
}

header > div .right .lang::before {
  width: 1px;
  height: 14px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main {
  width: 100%;
  min-height: calc(100vh - 170.5px);
  padding-top: 85px;
}

footer {
  padding: 25px 0;
  background-image: url(/public/img/footer_bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

footer .left .logo {
  width: 80px;
  margin-right: 45px;
}

footer .left ul li {
  font-size: 15px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .left ul li img {
  width: 18px;
  margin-right: 10px;
}

footer .left ul li.company {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 5px;
}

footer .left ul li:nth-child(2) img {
  width: 15px;
  margin-left: 2px;
}

footer .right p {
  color: #fff;
  opacity: 0.8;
  margin: 0;
  font-size: 13px;
  font-weight: 300;
}

.gototop {
  position: fixed;
  right: 30px;
  bottom: 90px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(34, 34, 34, 0.4);
  padding-top: 5px;
  cursor: pointer;
  display: none;
  opacity: 0;
  bottom: 70px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 500;
}

.gototop img {
  width: 16px;
  display: block;
  margin: 0 auto;
}

.gototop p {
  margin: 0;
  color: #fff;
  font-size: 10px;
  letter-spacing: 0.03em;
  font-family: Montserrat;
  width: 100%;
  text-align: center;
}

.gototop.active {
  display: block;
  opacity: 1;
  bottom: 90px;
}

.page-title {
  width: 100%;
  padding-bottom: 15.625%;
  position: relative;
  margin-bottom: 100px;
}

.page-title img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-title .title-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.05)), to(rgba(255, 255, 255, 0.4)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.4) 100%);
}

.page-title .text {
  position: absolute;
  padding: 20px 35px;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.page-title .text h1 {
  font-weight: normal;
  font-size: 30px;
  margin: 0 0 5px;
  letter-spacing: 0.1em;
}

.page-title .text h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 11px;
  color: #F5A21E;
  letter-spacing: 0.5em;
  margin: 0;
}

.list-pic-1 .inner {
  padding: 40px 0;
}

.list-pic-1 .inner img {
  width: 55%;
}

.list-pic-1 .inner .text {
  width: 45%;
  padding-left: 40px;
}

.list-pic-1 .inner .text h3 {
  margin: 0 0 20px;
}

.list-pic-1 .inner .text p, .list-pic-1 .inner .text ol {
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
}

.list-pic-1 .inner .text ol {
  padding-left: 20px;
}

.list-pic-1 .inner:nth-child(even) {
  background-color: #f7f7f7;
}

.list-pic-1 .inner:nth-child(even) img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.list-pic-1 .inner:nth-child(even) .text {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding-left: 0;
  padding-right: 40px;
}

.list-pic-2 .row {
  margin-right: -15px;
  margin-left: -15px;
}

.list-pic-2 .row > div {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 60px;
}

.list-pic-2 .pic {
  width: 100%;
  padding-bottom: 85%;
  position: relative;
  margin-bottom: 25px;
}

.list-pic-2 .pic img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.list-pic-2 h4 {
  font-size: 24px;
  margin: 0 0 6px;
}

.list-pic-2 p {
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  height: 88px;
}

.list-pic-2 .readmore {
  padding: 10px 45px;
  display: block;
  margin: 20px auto 0;
  background-color: #F5A21E;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.list-text {
  padding-bottom: 100px;
}

.list-text .inner {
  padding-top: 30px;
  padding-bottom: 19px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.3);
}

.list-text .inner .list-text_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: pointer;
}

.list-text .inner .list-text_title .tag-box {
  width: 100px;
}

.list-text .inner .list-text_title .tag-box .tag {
  background-color: #F5A21E;
  border-radius: 100px;
  color: #fff;
  padding: 5px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.list-text .inner .list-text_title h3 {
  margin: 0;
  width: calc(100% - 100px - 18px);
  font-size: 24px;
  padding: 0 20px;
}

.list-text .inner .list-text_title .btn-collapse {
  width: 18px;
  height: 18px;
  position: relative;
  cursor: pointer;
}

.list-text .inner .list-text_title .btn-collapse .bar {
  width: 100%;
  height: 2px;
  background-color: #000;
  border-radius: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.list-text .inner .list-text_title.active .btn-collapse .bar.vertical {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.list-text .inner .list-text_title.news .news-content {
  width: calc(100% - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-text .inner .list-text_title.news .news-content h3 {
  width: calc(100% - 100px);
}

.list-text .inner .list-text_title.news .news-content .date {
  width: 100px;
  font-family: Montserrat;
  color: rgba(34, 34, 34, 0.8);
}

.list-text .inner .list-text_content {
  display: none;
}

.list-text .inner .list-text_content p, .list-text .inner .list-text_content ul {
  padding-left: 120px;
  padding-right: 38px;
  padding-top: 18px;
  margin: 0;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.8);
  opacity: 0.8;
}

.list-text.detect .inner .list-text_title h3 {
  width: 100%;
  padding: 0;
}

.list-text.detect .inner .list-text_content {
  display: block;
}

.list-text.detect .inner .list-text_content ul {
  list-style: disc;
  padding-left: 20px;
}

.tab a {
  padding: 13px 34px;
  border: 1px solid rgba(34, 34, 34, 0.4);
  border-radius: 100px;
  color: #222;
  margin: 0 5px;
}

.tab a.active {
  border-color: #164289;
  background-color: #164289;
  color: #fff;
}

.pagination li a {
  font-family: Montserrat;
  display: block;
  padding: 5px 13px;
  margin: 0 3px;
}

.pagination li.active a {
  background-color: #164289;
  color: #fff;
  border-radius: 2px;
}

.pagination li.arrow img {
  width: 8px;
}

.pagination li.arrow.prev {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.contact {
  padding: 70px 20px 80px;
}

.contact_content {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
}

.contact_content form {
  margin-top: 40px;
  width: 100%;
}

.contact_content form .input-box {
  width: 100%;
  margin-bottom: 18px;
}

.contact_content form .input-box label {
  display: block;
  color: rgba(34, 34, 34, 0.8);
  margin-bottom: 8px;
}

.contact_content form .input-box input, .contact_content form .input-box textarea {
  width: 100%;
  border: 1px solid rgba(34, 34, 34, 0.4);
  border-radius: 4px;
  padding: 10px;
}

.contact_content form .input-box input {
  height: 44px;
}

.contact_content form .submit {
  display: block;
  margin: 36px auto 0;
  background-color: #F5A21E;
  color: #fff;
  padding: 10px 50px;
  border: 0;
}

.contact.gray-bg {
  background: #F7F7F7;
}

.contact.gray-bg .contact_content form .input-box input, .contact.gray-bg .contact_content form .input-box textarea {
  background: #fff;
}

.contact.white-bg .contact_content form .input-box input, .contact.white-bg .contact_content form .input-box textarea {
  background: #FBFBFB;
}

.search {
  width: 400px;
  height: 52px;
  background: #FBFBFB;
  border: 1px solid rgba(34, 34, 34, 0.4);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search .icon {
  width: 50px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search .icon img {
  width: 12px;
}

.search input {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  width: calc(100% - 50px);
  height: 100%;
}

.search input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.tab-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tab-box button {
  background: #FBFBFB;
  border: 1px solid rgba(34, 34, 34, 0.4);
  border-radius: 100px;
  padding: 13px 33px;
  margin: 0 5px;
  color: #222;
}

.tab-box button.active {
  background-color: #164289;
  color: #fff;
}

.tab-box.tab-link button {
  padding: 0;
  overflow: hidden;
}

.tab-box.tab-link button a {
  display: block;
  padding: 13px 33px;
}

.tab-box.tab-link button.active a {
  color: #fff;
}

.page-inner {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  padding-bottom: 100px;
  padding: 0 20px;
}

.page-inner_title {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.3);
}

.page-inner_title h1 {
  font-size: 30px;
  margin-bottom: 16px;
  margin-top: 0;
}

.page-inner_title .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-inner_title .time img {
  width: 18px;
  margin-right: 10px;
}

.page-inner_title .time span {
  font-family: Montserrat;
  color: rgba(34, 34, 34, 0.8);
}

.page-inner_content {
  padding: 30px 0;
}

.page-inner_content p {
  color: rgba(0, 0, 0, 0.8);
  opacity: 0.8;
  line-height: 30px;
  margin: 0;
}

.page-inner_content img {
  display: block;
  margin: 20px auto;
  max-width: 750px;
  width: 100%;
}

@media screen and (max-width: 991px) {
  header {
    height: 74px;
  }
  header > div .right nav {
    position: fixed;
    max-width: 400px;
    width: 100%;
    height: calc(100vh - 74px);
    background-color: #fff;
    top: 74px;
    right: 0;
    right: -100%;
    overflow-y: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  header > div .right nav ul {
    display: block;
    overflow-y: auto;
    height: auto !important;
  }
  header > div .right nav a {
    display: block;
    width: 100%;
    padding: 14px 54px;
  }
  header > div .right nav .stage_first {
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgba(34, 34, 34, 0.3);
    margin: 0;
    display: block;
  }
  header > div .right nav .stage_first.drop {
    padding-right: 0;
    padding-bottom: 0;
  }
  header > div .right nav .stage_first.drop::after {
    display: none;
  }
  header > div .right nav .stage_first ul {
    display: block;
    position: static;
    padding-left: 60px;
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  header > div .right nav .stage_second {
    border-bottom: 1px solid rgba(34, 34, 34, 0.3);
  }
  header > div .right nav.active {
    right: 0;
  }
  .page-title {
    padding-bottom: 31.4%;
    margin-bottom: 50px;
  }
  .page-title .text h1 {
    font-size: 28px;
  }
  main {
    padding-top: 74px;
    min-height: calc(100vh - 74px - 333px);
  }
  footer .left {
    width: 100%;
  }
  footer .left .logo {
    display: block;
    margin: 0 auto 16px;
  }
  footer .left ul {
    width: 100%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  footer .left ul li.company {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .right {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .list-pic-1 .inner img {
    width: 100%;
  }
  .list-pic-1 .inner .text {
    width: 100%;
    padding: 20px 0 0;
  }
  .list-pic-1 .inner:nth-child(even) img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .list-pic-1 .inner:nth-child(even) .text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 20px 0 0;
  }
  .list-pic-2 .row {
    margin-left: -7px;
    margin-right: -7px;
  }
  .list-pic-2 .row > div {
    margin-bottom: 30px;
    padding-left: 7px;
    padding-right: 7px;
  }
  .list-pic-2 h4 {
    font-size: 20px;
  }
  .list-pic-2 .readmore {
    padding: 10px 25px;
  }
}

@media screen and (max-width: 767px) {
  .mb-40 {
    margin-bottom: 20px;
  }
  .mb-45 {
    margin-bottom: 22px;
  }
  .mb-70 {
    margin-bottom: 35px;
  }
  .mb-100 {
    margin-bottom: 50px;
  }
  .page-title {
    margin-bottom: 70px;
  }
  .list-text {
    padding-bottom: 50px;
  }
  .list-text .inner .list-text_title .tag-box {
    width: 100%;
    margin-bottom: 20px;
  }
  .list-text .inner .list-text_title h3 {
    width: calc(100% - 18px);
    padding-left: 0;
    font-size: 20px;
  }
  .list-text .inner .list-text_title.news .tag-box {
    width: 100px;
    margin-bottom: 0;
  }
  .list-text .inner .list-text_title.news .news-content h3 {
    width: 100%;
    padding-right: 0;
  }
  .list-text .inner .list-text_title.news .news-content .date {
    width: 100%;
    margin-top: 4px;
  }
  .list-text .inner .list-text_content p {
    padding-left: 0;
    padding-right: 0;
  }
  .contact {
    padding: 35px 20px 40px;
  }
  .contact_content form .submit {
    margin-top: 18px;
  }
  footer .left .logo {
    width: 60px;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .second-title {
    font-size: 24px;
  }
}

@media screen and (max-width: 575px) {
  .tab-box.tab-link button a {
    padding: 13px 7px;
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .search {
    width: 100%;
  }
  .tab-box button {
    padding: 13px 15px;
  }
}

.home-banner {
  width: 100%;
  padding-bottom: 59%;
  position: relative;
}

.home-banner .swiper-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.home-banner .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
}

.home-banner .swiper-wrapper .swiper-slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-banner .swiper-pagination-bullet {
  background-color: transparent;
  border: 2px solid #fff;
  width: 12px;
  height: 12px;
  margin: 0 6px;
  opacity: 1;
}

.home-banner .swiper-pagination-bullet-active {
  background-color: #fff;
}

.develop {
  padding: 55px;
  padding-bottom: 55px;
}

.develop img {
  max-width: 1000px;
  width: 100%;
}

.team {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px 60px;
}

.team .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 45px 0;
  border-bottom: 1px solid rgba(34, 34, 34, 0.3);
}

.team .inner .pic {
  width: 35%;
  padding-right: 55px;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
}

.team .inner .pic-inner {
  width: 100%;
  padding-bottom: 125%;
  position: relative;
  background-color: #E1EBED;
}

.team .inner .pic-inner img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  -webkit-transform: translate(25px, -25px);
          transform: translate(25px, -25px);
}

.team .inner .text {
  width: 65%;
  padding-left: 20px;
}

.team .inner .text .member-name {
  padding: 12px 32px;
  border-left: 7px solid #164289;
  background: #F7F7F7;
}

.team .inner .text .member-name h4 {
  margin: 0;
}

.team .inner .text .member-name h4 span.chinese {
  font-size: 24px;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.8);
  margin-right: 11px;
}

.team .inner .text .member-name h4 span.english {
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 500;
  color: #164289;
}

.team .inner .text .member-name p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  margin: 0;
}

.team .inner .text .text_content {
  margin-top: 20px;
}

.team .inner .text .text_content_title {
  background: #EBEBEB;
  padding: 4px 13px;
  margin-bottom: 13px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.team .inner .text .text_content ul li {
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.8);
}

.team .inner .text .text_content.history ul {
  padding-left: 20px;
  list-style-type: disc;
}

.team .inner .text .text_content.history ul li {
  position: relative;
}

.team .inner .text .text_content.history ul li span:last-child {
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (max-width: 767px) {
  .develop {
    padding: 27px 20px;
  }
  .team .inner {
    padding: 22px 0;
  }
  .team .inner .pic {
    max-width: 250px;
    width: 100%;
    margin: 0 auto 20px;
    -webkit-transform: translateX(18px);
            transform: translateX(18px);
  }
  .team .inner .pic img {
    -webkit-transform: translate(12px, -12px);
            transform: translate(12px, -12px);
  }
  .team .inner .text {
    width: 100%;
    padding: 20px 0 0;
  }
}

@media screen and (max-width: 575px) {
  .team .inner .text .text_content.history ul li span {
    display: block;
  }
  .team .inner .text .text_content.history ul li span:last-child {
    position: static;
  }
}

.laboratory-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 100px;
}

.laboratory-content .text {
  width: 40%;
  padding-right: 40px;
}

.laboratory-content .text h4 {
  font-size: 30px;
  margin-bottom: 32px;
}

.laboratory-content .text p {
  color: rgba(0, 0, 0, 0.8);
  opacity: 0.8;
  line-height: 1.8;
  margin: 0;
}

.laboratory-content .text .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.laboratory-content .text .btn-box button {
  margin-right: 27px;
  border: 0;
}

.laboratory-content .text .btn-box button a {
  display: block;
  padding: 11px 25px;
  color: #fff;
}

.laboratory-content .text .btn-box button.btn-detect {
  background-color: #F5A21E;
}

.laboratory-content .text .btn-box button.btn-download {
  background-color: #22A7D2;
}

.laboratory-content .pic {
  width: 60%;
  padding-bottom: calc(60% * 0.75);
  position: relative;
}

.laboratory-content .pic img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
}

.download {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 70px;
}

.download .download_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #164289;
  border-radius: 4px;
  padding: 13px 22px;
  margin-bottom: 17px;
  cursor: pointer;
}

.download .download_content img {
  width: 20px;
}

.download > div {
  padding-right: 8px;
  padding-left: 8px;
}

@media screen and (max-width: 1200px) {
  .laboratory-content .text {
    width: 50%;
  }
  .laboratory-content .pic {
    width: 50%;
    padding-bottom: calc(50% * 0.75);
  }
}

@media screen and (max-width: 991px) {
  .news-second-title {
    text-align: center;
  }
  .laboratory-content .text {
    width: 100%;
    padding: 0;
  }
  .laboratory-content .pic {
    width: 100%;
    padding-bottom: calc(100% * 0.75);
    margin-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .download {
    padding-bottom: 35px;
  }
  .laboratory-content .text h4 {
    font-size: 24px;
  }
  .laboratory-content .text .btn-box button {
    margin-right: 15px;
  }
  .laboratory-content .text .btn-box button a {
    padding: 11px;
  }
}

.product-content {
  border-bottom: 1px solid rgba(34, 34, 34, 0.2);
  padding-bottom: 40px;
}

.product-content img {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.product-content .text h2 {
  font-size: 30px;
  margin: 0 0 4px;
}

.product-content .text .classify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.product-content .text .classify span {
  color: #164289;
  display: block;
  margin-right: 30px;
  position: relative;
  line-height: 30px;
}

.product-content .text .classify span::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 15px;
  right: -15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #164289;
  opacity: 0.4;
}

.product-content .text .classify span:last-child {
  margin: 0;
}

.product-content .text .classify span:last-child::after {
  display: none;
}

.product-content .text p {
  line-height: 30px;
  color: rgba(0, 0, 0, 0.8);
}

.product-spec {
  padding: 60px 0 80px;
}

.product-spec .item-name {
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-spec .item-name .icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: rgba(34, 34, 34, 0.06);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}

.product-spec .item-name .icon img {
  width: 62%;
}

.product-spec .select-box {
  width: calc(100% - 130px - 20px);
  padding: 0 15px;
}

.product-spec .select-box select {
  width: 100%;
  background: #FBFBFB;
  border: 1px solid rgba(34, 34, 34, 0.4);
  border-radius: 4px;
  padding: 10px 15px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(/public/img/arrow-select.svg);
  background-size: 10px;
  background-position: calc(100% - 15px) center;
  background-repeat: no-repeat;
}

.product-spec .question {
  width: 20px;
  cursor: pointer;
}

.product-spec .product-num {
  width: 250px;
  padding: 0 15px;
}

.product-spec .product-num .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 42px;
}

.product-spec .product-num .inner > div {
  width: 57px;
  height: 100%;
  background: rgba(34, 34, 34, 0.02);
  border-radius: 3px 0px 0px 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.product-spec .product-num .inner > div img {
  width: 20%;
}

.product-spec .product-num .inner input {
  width: calc(100% - 114px);
  height: 100%;
  border: 1px solid;
  border-color: transparent rgba(34, 34, 34, 0.4) transparent rgba(34, 34, 34, 0.4);
  background-color: transparent;
  border-radius: 0;
  font-family: Montserrat;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.product-spec .spec-content {
  width: calc(100% - 130px);
  padding: 10px 15px;
  background: rgba(34, 34, 34, 0.02);
  border-radius: 4px;
  font-family: Montserrat;
  color: rgba(0, 0, 0, 0.8);
}

.rent-intro p {
  line-height: 30px;
}

.rent-intro hr {
  border: 1px solid rgba(34, 34, 34, 0.3);
}

@media screen and (max-width: 575px) {
  .product-spec .item-name {
    width: 100%;
    margin-bottom: 10px;
  }
  .product-spec .select-box {
    width: calc(100% - 20px);
    padding-left: 0;
  }
  .product-spec .product-num {
    padding-left: 0;
  }
  .product-spec .spec-content {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */